* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit !important;
}
a:hover {
  color: #fff !important;
}

.header {
  background-color: #1e1e1e;
  color: #fff;
  padding-top: 25px;
}
.header .header-top {
  min-height: 100px;
}
.header .header-top__logo {
  margin-right: 10px;
}
.header .header-top__title {
  font-size: 31px;
}
.header .header-top__icon {
  margin-right: 20px;
}
.header .header-top__icon svg {
  fill: #EDA30A;
}
.header .header-top__text {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 2px solid #404040;
  padding-right: 50px;
}
@media (max-width: 992px) {
  .header .header-top__text {
    border: none;
  }
}
.header .header-top__adress {
  margin-bottom: 0;
}
.header .header-top__btn {
  color: #8f8f8f;
  font-weight: 500;
  padding: 10px 20px;
  border: 2px solid #404040;
  border-radius: 50px;
  text-align: center;
}
.header .header-bottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px solid #404040;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header .header-bottom .navbar {
  background-color: #1e1e1e !important;
}
.header .header-bottom .navbar .nav-link {
  color: #fff;
  font-weight: 500;
}
.header .header-bottom__icon {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 24px;
}
.header .header-bottom .navbar-toggler {
  border: none;
}
.header .header-bottom .navbar-toggler:focus, .header .header-bottom .navbar-toggler:active,
.header .header-bottom .navbar-toggler .navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
.header .header-bottom .navbar-toggler-icon {
  stroke: #fff !important;
}

.hero {
  min-height: 470px;
  padding-top: 40px;
  background: url("../img/hero/bg.webp") 50% 50%/cover;
  position: relative;
}
.hero .container {
  position: relative;
  z-index: 1;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  display: none;
}
@media (max-width: 992px) {
  .hero::before {
    display: block;
  }
}
@media (min-width: 1600px) {
  .hero {
    min-height: 600px;
  }
}
.hero__title {
  font-size: 45px;
  color: #EDA30A;
  font-weight: 600;
}
.hero__text {
  font-size: 34px;
}
.hero__link {
  padding: 6px 36px;
  color: #1e1e1e !important;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.37);
  border-radius: 20px;
}

.about__wrapper {
  height: 125px;
}
.about__title {
  font-size: 32px;
  font-weight: 400;
}
.about__title_bold {
  font-weight: 700;
}
.about .block-list {
  height: 442px;
  background: url("../img/about/bg.webp") 50% 50%/cover;
  position: relative;
}
.about .block-list .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .block-list .container {
  position: relative;
  z-index: 1;
}
.about .block-list::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
}
@media (max-width: 992px) {
  .about .block-list::before {
    display: block;
  }
}
.about .block-list__list {
  margin-top: 40px;
  margin-right: 30px;
}
.about .block-list__item {
  font-size: 25px;
  line-height: 66px;
}

.tips {
  padding-bottom: 1px;
  padding-top: 32px;
}
.tips_blue-bg {
  background: rgba(8, 128, 148, 0.5);
}
.tips__title-main {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 25px;
}
.tips__text {
  font-size: 20px;
  margin-bottom: 45px;
}
.tips__title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 45px;
}

.services {
  padding-top: 20px;
  padding-bottom: 40px;
}
.services_bg-blue {
  background-color: rgba(8, 128, 148, 0.5);
}
.services__title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 45px;
}
.services__item {
  font-weight: 500;
  font-size: 25px;
  line-height: 66px;
}
.services .row {
  margin-top: 90px;
}
.services .img-wrapper {
  width: 470px;
}
@media (max-width: 992px) {
  .services .img-wrapper {
    display: none;
  }
}

.call {
  padding-top: 150px;
}
.call__title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}
.call__text {
  font-size: 25px;
  font-weight: 500;
}
.call__text_bold {
  font-weight: 700;
}
.call a:hover {
  color: #000 !important;
}

.footer {
  background-color: rgba(7, 90, 124, 0.8);
  padding-top: 50px;
  padding-bottom: 25px;
}
.footer iframe {
  width: 420px;
  height: 300px;
}
@media (max-width: 768px) {
  .footer iframe {
    width: 330px;
  }
}
.footer__title {
  font-size: 30px;
  color: #fff;
  margin-left: 10px;
}
.footer__list {
  margin-top: 15px;
  list-style: none;
  padding-left: 0;
}
.footer__item {
  font-size: 22px;
  color: #EDA30A;
}
.footer__item_bold {
  font-weight: 700;
}
.footer__text {
  font-size: 22px;
  color: #fff;
  margin-bottom: 10px;
}
.footer__text_bold {
  font-weight: 700;
}