.call{
    padding-top: 150px;
    &__title{
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    &__text{
        font-size: 25px;
        font-weight: 500;
        &_bold{
            font-weight: 700;
        }
    }
    a{
        &:hover{
            color: #000 !important;
        }
    }
}