.hero{
    min-height: 470px;
    padding-top: 40px;
    background: url("../img/hero/bg.webp") 50% 50% / cover;
    position: relative;
    .container{
        position: relative;
        z-index: 1;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255,255,255,0.3);
        display: none;
        @include lg{
            display: block;
        }
    }
    @media (min-width: 1600px){
        min-height: 600px;
    }
    &__title{
        font-size: 45px;
        color: #EDA30A;
        font-weight: 600;
    }
    &__text{
        font-size: 34px;
    }
    &__link{
        padding: 6px 36px;
        color: #1e1e1e !important;
        font-weight: 500;
        background: rgba(255, 255, 255, 0.37);
        border-radius: 20px;    
    }
}